.about {
   &__title {
      margin-bottom: 23px;
   }

   &__text {
      line-height: 32px;
      max-width: 1235px;
      margin-bottom: 48px;
   }

   .tooltip {
      display: inline-block;
      background-image: url(../img/icons/tooltip.svg);
      margin-bottom: -4px;
      margin-left: 5px;
      margin-right: 2px;
      width: 16px;
      height: 16px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }

   &__info {
      background-image: url(../img/worker.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 622px;
      max-width: 870px;
      width: 100%;
      position: relative;
   }

   &__info-box {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 40px 54px;
      background: rgba(0, 0, 0, 0.5);
   }

   &__info-box--500px {
display: none;
   }

   &__info-text {
      display: inline-block;
      margin-right: 15px;
      color: #fff;
      font-weight: 700;
      max-width: 500px;
      width: 100%;
   
      line-height: 32px;
   }

   &__btn {
      color: #fff;
      font-weight: 700;
      margin-right: 12px;
      padding: 20px 35px;
      border: 3px solid $yellow;
      transition: all 0.3s;

      &:hover {
         background-color: $yellow;
      }
   }

   &__advantages {
      max-width: 870px;
      width: 100%;
   }

   &__advantages-title{
      font-weight: 700;
      font-size: 24px;
      display: block;
   }

   &__advantages-box {
      padding: 67px 118px 70px 63px;
      // display: flex;
      // justify-content: flex-end;
      border: 1px solid rgba(202, 202, 202, 1);

      &:not(:last-child) {
         margin-bottom: 28px;
      }
   }


   &__advantages-text {
      max-width: 687px;
      width: 100%;
      line-height: 32px;
margin: 0;
padding-left: 235px;
position: relative;
display: inline-block;

&::after{
   content: '';
   position: absolute;
   left: 0;
   top: 22px;
   width: 7.5em;
   height: 7.5em;
   background: #FF9900;
   border-radius: 50%;
}
&__advantages-title{
   font-weight: 700;
   font-size: 24px;
}
   }
   &__advantages-text--gear::before{
      content: '';
      position: absolute;
         background-image: url(../img/icons/settings.svg);
         background-size: cover;
         background-repeat: no-repeat;
         left: 50px;
         top: -12px;
         width: 127px;
         height: 127px;
         z-index: 2;
      }

      &__advantages-text--coub::before{
         content: '';
         position: absolute;
            background-image: url(../img/icons/package.svg);
            background-size: cover;
            background-repeat: no-repeat;
            left: 60px;
            top: 5px;
            width: 119px;
            height: 132px;
            z-index: 2;
         }
}



@media(max-width: 1779px){
   .about{
      &__info{
         min-width: 100%;
         margin-bottom: 50px;
      }
      &__advantages {
         min-width: 100%;
      }
      &__advantages-text{
         text-align: center;
max-width: 100%;
&__advantages-title{
   display: block;
}
      }
   }
}

@media(max-width: 1024px){
   .about{
      &__text {
         max-width: 100%;
         margin-bottom: 57px;
      }
      &__info {
         height: 640px;
         position: relative;
      }
      
&__title{
   margin-bottom: 30px;
}

   &__info-box {
      padding-top: 35px;
      padding-bottom: 40px;
      padding-left: 44px;
      background: rgba(0, 0, 0, 0.5);
   }
   &__btn {
      padding: 18px 34px;
      margin-top: 5px;
   margin-right: 0;
   }


   &__advantages-box {
      padding: 67px 118px 65px 112px;
      &:not(:last-child) {
         margin-bottom: 40px;
      }
   }

   &__advantages-text {
text-align: left;

      &::before{
      top: 0;
      }

      &::after{
         top: 15%;
      }
   }

   &__advantages-text--gear {
      text-align: left;

      &::after{
         top: 20%;
      }

&::before{
   top: -5px;
}
   
}

         &__advantages-text--coub {
            text-align: left;
      
            &::before{
               top:4%;
            }
               }

}
}

@media(max-width: 1000px){
   .about{
      &__advantages-box{
 padding: 37px 38px 42px 31px;
   align-items: center;
}
   }
}


@media(max-width: 768px){
   .about{

      &__advantages-text {
         padding-left: 145px;
         &::after{
            height: 80px;
            width: 80px;
            top: 25%;
         }
      } 
      
&__info{height: 650px;
margin-bottom: 40px;
}

&__advantages-box{padding-bottom: 37px;}

&__advantages-text{
   &::after{
      top: 45px;
   }
}
      &__advantages-text--coub {
         &::before{
            width: 80px;
            height: 88px;
            left: 6.3%;
            top: 21%;
         }
      }    

      &__advantages-text--gear {
         &::before{
            height: 82px;
            width: 82px;
            left: 6.3%;
            top: 20%;
         }
         &::after{
            top: 30%;
         }
      }    

      &__title{
         margin-top: 58px;
      }
      &__info-box{
         padding: 23px 30px;
      }
      &__info-text{
         max-width: 400px;
      }
   }
}

@media(max-width: 720px){
   .about{
      &__info-text{
         font-weight: 400;
         font-size: 14px;

   }
}

@media(max-width: 500px){
.about{
   &__info-box{
      display: none;
   }


   &__info-box--500px {
      display: block;
         }
   
   &__info-text--500px{
      font-size: 14px;
      line-height: 2;
      margin: 0 0 9px 0;
   }
   
   &__btn--500px{
   color: $yellow;
   margin-top: 0;
   font-size: 12px;
   font-weight: 700;
   padding: 12px 42px;
   border: 2px solid $yellow;
   margin-bottom: 40px;
   display: inline-block;
   }

}
}

@media(max-width: 420px){
.about{
   &__title{
      margin-bottom: 0;
   }
   &__text{
      margin-top: 5px;
      font-weight: 400;
      font-size: 14px;
      line-height: 28px;
      margin-bottom: 10px;
   }

&__info{
   background-image: url(../img/420px/worker_420px.jpg);
   height: 200px;
   display: block;
margin-bottom: 9px;
}

&__advantages-box{
border: none;
padding: 0;
}

&__advantages-text{
   padding: 0;
   font-size: 14px;
   line-height: 2;
   font-weight: 400;
padding-top: 62px;
   &::before{
      top: -1px;
      width: 45px;
      height: 50px;
      left: 20px;

   }
   &::after{
 top: 5px;
 width: 43px;
 height: 43px;
   }

   &__advantages-title{
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      display: inline-block;
   }

}

&__advantages-text--gear{
   padding-top: 50px;
   &::after{top: -7px}
   &::before{    top: -20px;
      width: 47px;
      height: 47px;
      left: 17px;}
}

}
}
}