.hero-slider {
   &__item {
      background-image: url(..//img/top_slide_1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 100%;
   }

   &__about {
      padding-top: 103px;
      padding-left: 78px;
      padding-bottom: 92px;
      max-width: 900px;
   }

   &__title {
      font-weight: 800;
      font-size: 70px;
      line-height: 86px;
      color: #fff;
      margin-bottom: 20px;
   }

   &__text {
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      line-height: 29px;
      margin-bottom: 97px;
      margin-top: 0;
   }

   &__btn {
      @include reset-btn;
      padding: 25px 40px;
      color: #fff;
      font-weight: 700;
      font-size: 23px;
      background-color: $yellow;
      transition: all .3s;
      &:hover{
         background-color: rgba(255, 153, 0, 0.6);;
      }
      &:focus{
         outline: 3px solid #000;
      }
   }
}


@media(max-width: 1024px){
   .hero-slider{
      &__item {
         background-image: url(..//img/1024px/hero__s;ide1_1024.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: 0 -100px;
         max-width: 100%;
      }
      &__about {
         padding-top: 158px;
         padding-left: 45px;
         padding-bottom: 115px;
      }
      &__title{
         font-size: 60px;
         line-height: 73px;
         margin-bottom: 15px;
      }
      &__text{
         font-size: 20px;
         max-width: 658px;
         line-height: 24px;
         margin-bottom: 110px;
      }
   }
}

@media(max-width: 850px){
   .hero-slider{
      .fixed-container{
      padding: 0;   
      }
      &__item{
         background-image: url(..//img/768px/hero__slide1__768px.jpg) ;
   background-position: center;
      }
      &__about{
         padding-top: 192px;
         padding-left: 49px;
         padding-bottom: 117px;
      }
      &__title{margin-bottom: 10px;}
      &__btn{padding: 27px 44px;}
   }
}



@media(max-width: 570px){
   .hero-slider{

.fixed-container{
   padding: 0 15px;
}

&__about{
   padding: 32px 22px 40px 22px;
   text-align: center;
}

&__title{
font-size: 30px;
line-height: 34px;
margin-bottom: 26px;
}

&__text{
   font-size: 20px;

}

}
}

@media(max-width: 420px){
   .hero-slider{

&__item{
   background-image: url(../img/570px/hero_slide_1_570px.jpg);
}

&__title{
font-size: 20px;
line-height: 24px;
margin-bottom: 6px;
}

&__text{
   font-size: 12px;
font-weight: 500;
line-height: 15px;
margin-bottom: 34px;
}

&__btn{
   font-size: 12px;
padding: 14px 28px;
}

}
}