.steps {

   &__title {
      margin-bottom: 53px;
      margin-top: 100px;
   }

   &__slider-wrapper {
      width: 100%;
      padding-right: 57%;
      position: relative;
   
      &::before{
         content: '';
         position: absolute;
         background-image: url(..//img/consultation_bg.jpg);
         background: center no-repeat;
         right: 0;
         top: 13px;
         width: 870px;
         height: 465px;
      }
   }

   &__slider-btn {
      @include reset-btn;
      background-color: transparent;
      font-size: 18px;
      margin-bottom: 43px;
      transition: all 0.3s;

      &:not(:last-child) {
         margin-right: 70px;
      }

      &:hover {
         color: $yellow;
      }
   }

   &__text {
      line-height: 32px;
      margin-bottom: 70px;
      margin-top: 0;
      overflow: unset;
   }

   &__slider-title {
      font-size: 24px;
      display: block;
      color: #000;
      font-weight: 700;
      line-height: 1.5em;
   }

   &__button {
      display: inline-block;
      font-weight: 700;
      transition: all 0.3s;
   }

   &__button--about {
      color: #fff;
      margin-right: 24px;
      background-color: $yellow;
      padding: 22px 40px;
      &:hover{
         background-color: rgba(255, 153, 0, 0.6);;
      }
   }

   &__button--contract {
      padding: 18px 36px;
      border: 1px solid rgba(51, 51, 51, 1);
      color: rgba(51, 51, 51, 1);

      &:hover {
         background-color: rgba(51, 51, 51, 1);
         color: #fff;
      }
   }
}

@media(max-width: 1600px){
   .steps{
      &__slider-wrapper{
         &::before{
            background-position-x: right;
    background-size: 80% 100%;
         }

      }
   }
}

@media(max-width: 1315px){
   .steps{
      &__slider-wrapper{
         &::before{
            background-position-x: right;
    background-size: 70% 100%;
         }

      }
   }
}

@media(max-width: 1024px){
.steps{
   &__title {
      margin-bottom: 54px ;
   }

   &__slider-wrapper{
      padding-right: 10%;

      &::before{
      width: 437px;
  height: 689px;
  background-size: cover;
     background-image: url(..//img/1024px/steps__1024.jpg);
      }

   }

   &__text{
      max-width: 437px;
      margin-top: 10px;
      margin-bottom: 29px;
   }

   &__slider-btn {
      @include reset-btn;
      background-color: transparent;
      font-size: 18px;
      margin-bottom: 32px;
      transition: all 0.3s; 
   }
}
}

@media(max-width: 1000px){
   .steps{
&__title{
   margin-bottom: 50px;
}
   &__slider-wrapper{
padding-right: 0;
padding-top: 310px;


      &::before{
display: none;
      }

&::after{
   content: '';
   background-image: url(..//img/768px/steps__768px.jpg);
   position: absolute;
   top: 0;
   width: 100%;
   height: 284px;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   left: 0;
}

   }

   &__btn-wrapper{
      display: flex;
      justify-content: space-between;
   }

   &__slider-btn{
      margin-bottom: 45px;
   }
   &__left{
      min-width: 100%;
   }
   &__text{
      max-width: 100%;
   }
}
}