@import "vars";
@import "global";

.header {
   background-color: #fff;
   box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
   padding: 14px 0;

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
   }

   &__nav {
      margin-left: auto;
      margin-right: 71px;
   }

   &__menu-item {
      &:not(:last-child) {
         margin-right: 82px;
      }
   }

   &__menu-link {
      color: #000;
      font-weight: 600;
      padding-bottom: 5px;
      font-size: 18px;

      &:hover {
         border-bottom: 2px solid $yellow;
      }
   }

   &__search {
      background-image: url(../img/icons/Search.svg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      @include reset-btn;
      background-color: transparent;
      width: 26px;
      height: 26px;
      margin-right: 10px;

      &::hover {
         fill: $yellow;
      }
   }
}

// ----- HEADER END

// ----- HERO-SLIDER START

.hero-slider {
   &__item {
      background-image: url(..//img/top_slide_1.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      max-width: 100%;
   }

   &__about {
      padding-top: 103px;
      padding-left: 78px;
      padding-bottom: 116px;
      max-width: 900px;
   }

   &__title {
      font-weight: 800;
      font-size: 70px;
      line-height: 86px;
      color: #fff;
      margin-bottom: 25px;
   }

   &__text {
      font-weight: 700;
      font-size: 24px;
      color: #fff;
      line-height: 29px;
      margin-bottom: 122px;
   }

   &__btn {
      padding: 26px 37px;
      color: #fff;
      font-weight: 700;
      font-size: 23px;
      background-color: $yellow;
   }
}

// ----- HERO-SLIDER END

// ----- ABOUT-SECTION START

.about {
   &__title {
      margin-bottom: 32px;
   }

   &__text {
      line-height: 32px;
      max-width: 1235px;
      margin-bottom: 44px;
   }

   .tooltip {
      display: inline-block;
      background-image: url(../img/icons/tooltip.svg);
      // background-repeat: no-repeat;
      // background-size: cover;
      // background-position: center;
      margin-bottom: -4px;
      margin-left: 5px;
      margin-right: 2px;
      width: 16px;
      height: 16px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
   }

   &__info {
      background-image: url(../img/worker.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 622px;
      max-width: 870px;
      width: 100%;
      position: relative;
   }

   &__info-box {
      position: absolute;
      width: 100%;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 42px 54px;
      background: rgba(0, 0, 0, 0.5);
   }

   &__info-text {
      color: #fff;
      font-weight: 700;
      max-width: 500px;
      width: 100%;
      line-height: 32px;
   }

   &__btn {
      color: #fff;
      font-weight: 700;
      margin-right: 12px;
      padding: 20px 38px;
      border: 3px solid $yellow;
      transition: all 0.3s;

      &:hover {
         background-color: $yellow;
      }
   }

   &__advantages {
      max-width: 870px;
      width: 100%;
   }

   &__advantages-box {
      padding: 67px 118px 60px 63px;
      display: flex;
      justify-content: space-between;
      border: 1px solid rgba(202, 202, 202, 1);

      &:not(:last-child) {
         margin-bottom: 40px;
      }
   }

   &__advantages-img {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
   }

   &__advantages-img--gear {
      width: 178px;
      height: 153px;
      margin-top: -14px;

      background-image: url(../img/icons/gear.svg);
   }

   &__advantages-img--coub {
      background-image: url(../img/icons/coub.svg);
      width: 178px;
      height: 137px;
   }

   &__advantages-text {
      max-width: 452px;
      width: 100%;
      line-height: 32px;

      span {
         font-weight: 700;
         font-size: 24px;
      }
   }
}

// ----- ABOUT-SECTION END

// ----- steps-SECTION START

.steps {
   &__title {
      margin-bottom: 50px;
   }

   &__inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      max-width: 758px;
      width: 100%;
   }

   &__slider-btn {
      @include reset-btn;
      background-color: transparent;
      font-size: 18px;
      margin-bottom: 32px;
      transition: all .3s;

      &:not(:last-child) {
         margin-right: 70px;
      }

      &:hover {
         color: $yellow;
      }

   }

   &__text {
      line-height: 32px;
      margin-bottom: 70px;
   }

   &__slider-title {
      font-size: 24px;
      display: block;
      color: #000;
      font-weight: 700;

   }

   &__button {
      display: inline-block;
      font-weight: 700;
      transition: all .3s;
   }

   &__button--about {
      color: #fff;
      margin-right: 20px;
      background-color: $yellow;
      padding: 20px 40px;

   }

   &__button--contract {
      padding: 20px 38px;
      border: 1px solid rgba(51, 51, 51, 1);
      color: rgba(51, 51, 51, 1);

      &:hover {
         background-color: rgba(51, 51, 51, 1);
         color: #fff;
      }
   }

   &__right {
      margin-top: 80px;
      width: 870px;
      height: 465px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
   }
}

// ----- STEPS-SECTION END

// ----- QUESTIONS-SECTION START

.questions {
   margin-bottom: 100px;

   &__title {
      margin-bottom: 40px;
   }

   &__item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 32px 0;
      border-bottom: 1px solid rgba(202, 202, 202, 1);

      &:first-child {
         border-top: 1px solid rgba(202, 202, 202, 1);
      }
   }

   &__text {
      font-weight: 700;
      font-size: 24px;
      transition: all .3s;

      &:hover {
         cursor: pointer;
         color: $yellow;
      }
   }

   &__btn {
      @include reset-btn;
      position: relative;
      width: 50px;
      height: 50px;
      background: rgba(236, 236, 236, 1);
      border-radius: 50%;
      transition: all .3s;

      &:hover {
         background-color: rgba(210, 210, 210, 1);
      }

      &::before,
      &::after {
         transition: all .8s;
         content: "";
         position: absolute;
         background-color: rgba(102, 102, 102, 0.8);


      }

      &::before {
         left: 50%;
         top: 10px;
         bottom: 10px;
         width: 1px;
         transform: translateX(-50%);
      }

      &::after {
         top: 50%;
         left: 10px;
         right: 10px;
         height: 1px;
         transform: translateY(-50%);
      }

      &:hover::before,
      &:hover::after {
         background-color: #000;
      }
   }
}