* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  background-color: #e5e5e5;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

ul,
a {
  list-style-type: none;
  text-decoration: none;
}

li {
  display: inline;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.fixed-container {
  max-width: 1810px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.title {
  margin-bottom: 23px;
  margin-left: 43px;
  font-size: 40px;
  line-height: 1;
}

.header {
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  padding: 14px 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  margin-left: auto;
  margin-right: 71px;
}

.header__menu-item:not(:last-child) {
  margin-right: 82px;
}

.header__menu-link {
  color: #000;
  font-weight: 600;
  padding-bottom: 5px;
  font-size: 18px;
}

.header__menu-link:hover {
  border-bottom: 2px solid #ff9900;
}

.header__search {
  background-image: url(../img/icons/Search.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  width: 26px;
  height: 26px;
  margin-right: 10px;
}

.header__search::hover {
  fill: #ff9900;
}

.hero-slider__item {
  background-image: url(..//img/top_slide_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
}

.hero-slider__about {
  padding-top: 103px;
  padding-left: 78px;
  padding-bottom: 116px;
  max-width: 900px;
}

.hero-slider__title {
  font-weight: 800;
  font-size: 70px;
  line-height: 86px;
  color: #fff;
  margin-bottom: 25px;
}

.hero-slider__text {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
  line-height: 29px;
  margin-bottom: 122px;
}

.hero-slider__btn {
  padding: 26px 37px;
  color: #fff;
  font-weight: 700;
  font-size: 23px;
  background-color: #ff9900;
}

.webp .hero-slider__item { background-image: url(..//img/top_slide_1.webp); }